<div class="grid-container">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">

        <mat-card fxFlex="50">
            <mat-card-header>
                <mat-card-title>
                    About
                </mat-card-title>
                <mat-card-subtitle>
                    by Enrique Reyes
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row">
                    Angular application for showing a students database
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <br>


</div>